@import "~bootstrap/scss/bootstrap.scss";

.box {
	height: 300px;
	width: 100px;
	border: 1px solid black;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
  }

 .light {
 height: 33%;
 }

 .rounded-circle{
	 height: 100%;
	margin: auto;
 }